@font-face {
  font-family: "Uregular";
  src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Umedium";
  src: url("../fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubold";
  src: url("../fonts/Ubuntu-Bold.ttf");
}

$btn-color: #374c91;

* {
  box-sizing: border-box;
}

body {
  font-family: "Uregular", sans-serif;  
}

//header begin.

header {
  background: url("../img/header-bg.jpg") no-repeat top center / cover;  
}

.wrapper {
  background: rgba(0, 0, 0, .5);
  height: 780px;
  position: relative;
}

.header__top {
  background: rgba(255, 255, 255, .3);  
  padding: 0 200px;

  a {
    font-family: "Umedium", sans-serif;
    font-size: 26px;
    color: #fff;
    text-decoration: none;
    float: left;    
    display: block;

    span {
      color: $btn-color;
    }
  }
}

.header__top__logo {
  margin: 27px 110px 27px 0;  
}

.nav {
  float: left;
}

.nav__item {
  float: left; 

  a {   
    color: #fff;
    text-align: center;
    padding: 31px 22px;
    text-decoration: none;
    font-family: Uregular;
    font-size: 18px;  

    &:hover {
      background: rgba(0, 0, 0, .3);
      text-decoration: underline;
    }   
  }
}

.nav__item-active {
  background: url("../img/downsmall.png") no-repeat 85px 39px;
  position: relative;
}

.bgc {
  background: rgba(0, 0, 0, .3);
}

.sub__menu {
  position: absolute;
  color: #fff;
  width: 207px;
  background: rgba(0, 0, 0, .2);
  top: 100%;
  font-size: 18px;
  display: none;

  li {
    display: block;
    margin: 17px 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header__top__phone {
  color: #ffffff;
  font-size: 16px;
  margin-top: 34px;
  margin-left: 170px; 
  float: left;    
}

.header__middle { 
  text-align: center;

 h1 {
  color: #ffffff;
  font-size: 42px;
  margin: 153px auto 27px;
 }

 p {
   font-size: 22px;
   color: #ffffff;
   margin-bottom: 70px;

   span { 
    color: #374c91;
    font-family: "Ubold"
  }
 }
}

.search { 
  width: 45%;
  margin: 0 auto;
}

.search__term {  
  height: 61px;
  width: 70%;  
  outline: none; 
  padding-left: 45px; 
  background: url("../img/search.png") no-repeat 18px 19px #fff;
  font-size: 24px;
  color: $btn-color; 
  display: block;
  float: left; 
}

.btn {
  background-color: $btn-color;  
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  padding: 20px 30px;
  border: 1px solid transparent;
  margin-bottom: 29px;

  &:hover {
    background-color: transparent;
    color: $btn-color;
    border: 1px solid $btn-color;
  }
}

.btn-search {
  font-size: 24px;
  text-align: center;
  float: left;
  width: 30%;
  padding-bottom: 16px;  
}

#scroll {
  background: url("../img/down.png") no-repeat center top; 
  width: 15px;
  height: 10px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 16px);
  cursor: pointer;
}

.phone {
  width: 60px;
  height: 60px;
  background: url("../img/phone-icon.png") no-repeat center center $btn-color;
  position: absolute;
  right: 60px;
  bottom: 60px; 

  &:hover {
    opacity: 0.8;
  } 
}

.popup {
  display: none;
}

form {
  padding: 30px;
  margin: auto;
  background-color: rgba(0, 0, 0, .5);
  max-width: 308px;
  position: relative;
  
  p {
    color: #fffefe;    
    font-size: 22px;
    width: 170px;
    margin: 10px auto 15px;
  }

  input {
    background: transparent;
    margin-bottom: 25px;
    color: #fff;
    font-size: 16px;
    width: 250px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;

    &:focus {
      border-bottom: 1px solid #fff;
    }
  }
}

.btn-popup {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  width: 250px;
  height: 56px;
  font-size: 20px;
  cursor: pointer;
}

//header end.

//srp begin.

.srp {
  text-align: center;
  padding: 80px 0 50px 0;

  h2 {
    color: $btn-color;    
    font-size: 40px;    
    line-height: 48px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 105px;

    &::after {
      content: "";
      position: absolute;
      width: 76px;
      height: 6px;
      background-color: $btn-color;
      top: 100px;
      left: calc(50% - 38px);
    }
  }

  p {
    color: #3c3c3c;    
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 455px;
    margin: 0 auto;
  }
}

//srp end.

//proposal start.

.proposal__item {
  width: 50%;
  height: 305px;
  float: left;
  min-width: 320px;
}

.proposal__item-left {  
  background-color: #dbd7e5;  

  img {
    float: left;
    margin: 84px 45px 109px 290px;
  }

  h3 {
    color: #515151;
    font-size: 23px;
    margin: 45px 0 30px 0;
  }

  p {
    padding-bottom: 60px;    
  }
}  

.proposal__item-right {  
  background-color: #b6cbd9;  

  img {
    margin: 96px 77px 117px 90px;
    float: left;
  }

  h3 {
    color: #3c3c3c;
    font-size: 23px;
    margin: 45px 0 30px 0;
  }

  p {
    padding-bottom: 35px;
  }
}

.item__description {
  float: left;

  p {
    color: #3c3c3c;
    font-size: 17px;
    line-height: 1.5;
    
  }
}

//proposal end.

//portfolio begin.

.portfolio__item {
  width: 25%;
  height: 350px;
  float: left;  
  position: relative;   

  &:first-child {
    background: url("../img/content-1.png") no-repeat center top;
  }

  &:nth-child(2) {
    background: url("../img/content-2.png") no-repeat center top;
  }
  
  &:nth-child(3) {
    background: url("../img/content-3.png") no-repeat center top;
  }

  &:last-child {
    background: url("../img/content-4.png") no-repeat center top;
  }

  &:hover .portfolio__item-descr{
    opacity: 1;
  }
}

.portfolio__item-descr {
  height: 310px;   
  background: rgba(0, 0, 0, .8);
  opacity: 0;  
  transition: opacity 1s;   
  margin: 20px;
  overflow: hidden;

  h4 {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: "Uregular", sans-serif;
    margin: 36px auto 61px;
    width: 124px;
    position: relative;
    letter-spacing: 2px;

     &::after {
      content: "";
      position: absolute;
      width: 34px;
      height: 4px;
      background-color: #fff;
      top: 58px;
      left: calc(50% - 19px);
    }
  }   

  p {
    color: #fff;
    font-size: 14px;
    line-height: 21px;    
    height: 162px;   
    margin: 0 39px 37px 29px; 
    overflow: hidden;         
  }
}

//portfolio end.

// Footer begin.

footer {
  background-color: #1c1c1c;
  text-align: center;
  padding: 29px 0 24px 0;

  p {
    color: #8d8d8d;    
    font-size: 16px;
    line-height: 26px;
    word-spacing: 2px;
  }
}

//Footer end.